

@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


.notosanskr {
	font-family: 'Noto Sans KR', sans-serif;
}

* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

div#wrap {
	margin-top: 100px;
	width: 1000px;
	padding: 30px;
	text-align: center;
}

div#header {
	border: 1px solid #000;
	width: 80%;
	font-size: 50px;
	font-weight: bold;
	padding: 20px;
}

div#main {
	text-align: center;
	margin: 0px 0 30px 0;
	width: 100%;
	border-top: 3px solid #000;
	padding: 10px;
}

#inquiryTbl {
    border-collapse: collapse;
    width: 100%;
}
thead {
    background: rgb(158 227 255);
    height:40px;
}
#theadTr {
    padding:20px;
}
.theadNum {
	text-align: left;
}
.num {
	width:7%;
}
.title {
	width:63%;
}
.name {
	width:16%;
}
.regTm {
	width:14%;
	height: 40px;
    line-height: 1.4;
}
.tbdyTitle {
    text-align: left;
}
.tbdyTr {
	border-bottom:1px solid black;
	cursor:pointer;
}
div#page {
    text-align: left;
}

       div#header {
           border: 1px solid #000;
           width: 80%;
           font-size: 50px;
           font-weight: bold;
           padding: 20px;
       }
       #board {
           margin-left: 0px;
           margin-top: 20px;
           text-align: left;
           border: 1px solid rgb(0,0,0,0.4);
           border-radius: 10px;
           padding: 30px;
           overflow: visible;
   		white-space: nowrap;
       }
       
       #query {
           width: 90%;
           border-bottom: 1px solid black;
           margin-left: 0px;
           padding-bottom: 10px;   
           display: inline-block;
       }
       
		#writeButton {
		    padding: 10px 0px;
		    background-color: white;
		    border-radius: 5px;
		    cursor: pointer;
		    width: 200px;
		    margin: 30px 20px;
		    font-size: 20px;
		    cursor: pointer;
		}
       #listButton {
		    padding: 10px 0px;
		    background-color: white;
		    border-radius: 5px;
		    cursor: pointer;
		    width: 200px;
		    font-size: 20px;
		    cursor: pointer;
		}
       
       #title {
           background-color: #f5f6f8;
           border-radius: 10px;
           padding: 20px;
           padding-top: 10px;
           margin-top: 10px;
           padding-bottom: 10px;
       }
       #titleText {
           background-color: #f5f6f8;
           border: 0px;
           font-size: 16px;
           width: 100%;
           height: 20px;
           resize: none;
       }

       #titleText:focus {
           outline: none;
       }
       #board2 { 
           margin-left: 0px;
           margin-top: 50px;
           text-align: left;
           
       }
       #imgContainer {
           display: flex;
           margin-left: 687px;
           margin-top: 10px;
           margin-bottom: 10px;
       }
     #a {
           width: 104px;
       }
       .noticeImg {
           width: 102px;
           cursor: pointer;
       }
       #b {
           width: 90px;
       }
       #c {
           height: 47px;
           width: 122px;
       }


       div#headerDetail {
           border: 1px solid #000;
           width: 80%;
           font-size: 50px;
           font-weight: bold;
           padding: 20px;
       }
       #boardHeader {
           text-align: left;
           border-bottom: 1px solid rgb(0,0,0,0.4);
           width: 95%;
           white-space: nowrap;
           padding-bottom: 12px;
       }
       #titleDetail {
           font-size: 25px;
           margin-top: 25px;
           margin-left: 25px;
           text-align: left;
       }
       #circle {
           width: 50px;
           height: 50px;
           Border-radius: 50%;
           object-fit: contain;
           overflow: hidden;
           max-width: 50px;
           display: inline-block;
           margin-top:20px;
       }
       #profile {
           height: 50px;
           width: 50px;
           object-fit: cover;
       }
       #container {
           display: inline-block;
           margin-top: 25px;
           vertical-align: top;
       }
       #username {
           text-align: left;
           margin-left: 10px;
    		font-weight: bold;
       }
       #text {
			display: flex;
		    opacity: 0.8;
		    width: 120px;
		    text-wrap: nowrap;
		    text-overflow: ellipsis;
		    text-align: left;
       }
      .text {
           margin-left: 10px;
           opacity: 0.8;
           
      }
      #setting {
       display: inline-block;
       margin-left: 550px;
       overflow: visible;
       overflow-inline: visible;
       margin-top: 0px;
   		vertical-align: top;
    }
    #setting0 {
        height: 40px;
        width: 40px;
        display: inline-block;
        margin-top: 28px;
    }
    #setting1 {
        display: inline-block;
        margin-top: 46px;
        vertical-align: top;
        margin-left: -4px;
        font-size: 13px;
    }
    #setting2 {
        display: inline-block;
        margin-top: 46px;
        vertical-align: top;
        margin-left: 2px;
        font-size: 13px;
    }
    #setting3 {
        display: inline-block;
        margin-top: 37px;
        vertical-align: top;
        margin-left: 4px;
        height: 30px;
        white-space: nowrap;
        width: 20px;
        cursor: pointer;
    }
    .additional {
	    border: 1px solid rgba(0,0,0,.06);
	    border-radius: 6px;
	    box-shadow: 0 1px 12px 0 rgba(0,0,0,.06);
	    background-color: #fff;
	    /* visibility: hidden; */
	    width: 84px;
	    text-align: center;
	    margin-left: 683px;

	    position: absolute;
	    padding-top: 10px;
	    padding-bottom: 10px;
		display: none;
	    margin-top: -15px;
	}
	.editButton:hover {
	  background: grey;
	  text-decoration: underline;
	  cursor: pointer;
	}
	.deleteButton:hover {
	  background: grey;
	  text-decoration: underline;
	  cursor: pointer;
	}
	#editButton {
		z-index: 3;
	}
		
    #textArea {
        width: 890px;
    }
    #textContent {
        text-align: left;
    	min-height: 100px;
    	margin-left: 20px;
    	margin-right: 20px;
    	margin-bottom: 5px;
    	padding-left: 20px;
    }
    #comment {
        height: 42px;
        margin-left: 10px;
        margin-bottom: 10px;
       	margin-top: -37px;
    }
    #commentText0 {
        display: inline-block;
        vertical-align: top;
       	margin-top: -19px;
        font-size: 12px;
    }
    #commentText1 {
        display: inline-block;
        vertical-align: top;
       	margin-top: -19px;
        font-size: 12px;
    }
    #boardBottom {
        width: 95%;
        border-top: 1px solid rgb(0,0,0,0.4);
        margin-top: -10px;
    }
    #commentNotice {
        font-size: 21px;
        font-weight: 410;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    #commentArea {
        border: 1px solid rgb(0,0,0,0.4);
        margin-bottom: 35px;
        padding: 10px;
        
    }
    #parentCommentArea {
		margin-top: -15px;
		padding-left: 20px;
        white-space: nowrap;
        padding-bottom: 0px;
        padding-top: 15px;
        background: #f9f9fa;
    }
    div#circle2 {
        width: 30px;
        height: 30px;
        Border-radius: 50%;
        object-fit: contain;
        overflow: hidden;
        /* max-width: 50px; */
        display: inline-block;
    }
    img#profile2 {
        height: 30px;
        width: 30px;
        object-fit: cover;
    }
    #parentCommentNickname {
        display: inline-block;
	    vertical-align: top;
	    margin-top: 7px;
	    font-size: 13px;
	    margin-left: 10px;
	    width: 100px;
	    text-overflow: ellipsis;
	    font-size: 15px;
    	font-weight: bold;
    }
    .parentCommentTool {
        display: inline-block;
        height: 30px;
        vertical-align: top;
        margin-top: -5px;
        margin-left: 599px;
        cursor: pointer;
    }
    #parentCommentContent {
        font-size: 13px;
	   margin-left: 44px;
	   margin-top: -6px;
	   width: 620px;
	   white-space: pre-line;
    }
    #parentCommentDate {
        font-size: 11px;
        margin-top: 5px;
        margin-left: 44px;
        
    }
    #parnetCommentImg {
        margin-top: 10px;
        height: 100px;
        margin-left: 40px;
        margin-bottom: 3px;
        max-width: 600px;
    }
    #parentCommentEnd {
    	margin-bottom: 15px;
    	border: 1px solid #f2f2f2;
    	width: 758px;
    	margin-top: 30px;
    	margin-bottom: 30px;
    }

    #commentUserName {
        font-weight: bold;
        font-size: 17px;
        padding-bottom: 5px;
    }

    #commentText {
        width: 100%;
        resize: none;
        min-height: 120px;
        border:0px;
    }
    #commentText:focus {
        outline: none;
    }
    #commentSubmitArea {
    	
    }
    #camera0 {
        height: 30px;
        margin-left: -6px;
        cursor: pointer;
    }
      #uploadSelector0 {
         width: 0;
         
     }
     .imageSection0 {
         display: none;
     }
     .imageRemover0 {
         display:none;
         height: 30px;
         vertical-align: top;
         margin-left: -30px;
         cursor: pointer;
         
     }
     .uploadedImage0 {
         height: 40px;
         margin-left: -4px;
     }
     #camera1 {
        height: 30px;
        margin-left: -6px;
        cursor: pointer;
    }
    #uploadSelector1 {
         width: 0;
         
     }
     .imageSection1 {
         display: none;
     }
     .imageRemover1 {
         display:none;
         height: 30px;
         vertical-align: top;
         margin-left: -30px;
         cursor: pointer;
         
     }
     .uploadedImage1 {
         height: 40px;
         margin-left: -4px;
     }
     #camera {
        height: 30px;
        margin-left: -6px;
        cursor: pointer;
    }
    #uploadSelector {
         width: 0;
         
     }
     .imageSection {
         display: none;
     }
     .imageRemover {
         display:none;
         height: 30px;
         vertical-align: top;
         margin-left: -30px;
         cursor: pointer;
         
     }
     .uploadedImage {
         height: 40px;
         margin-left: -4px;
     }
    #commentSubmit {
        display: inline-block;
        vertical-align: top;
        margin-top: 13px;
        margin-left: 756px;
        font-weight: 200;
        font-size: 13px;
        border: 0px solid white;
    	background: white;
        cursor: pointer;
        display: none;
    }
	.commentDiv {
    background: white;
    margin-left: -20px;
    width: 833px;
    /* margin-top: 10px; */
    /* margin-top: -50px; */
    padding: 30px;
}
.updateCommentBorder {
    width: 780px;
    /* text-align: center; */
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 16px 10px 10px 18px;
    margin-left: 32px;
    margin-bottom: 30px;
}
#commentUserName {
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 5px;
}
#commentUpdateText {
    resize: none;
    min-height: 120px;
    border: 0px;
    width: 100%;
    text-align: left;
}

#updateSubmit {
	display: inline-block;
    vertical-align: top;
    margin-top: 13px;
    margin-left: 686px;
    font-weight: 200;
    font-size: 13px;
    border: 0px solid white;
	background: white;
    cursor: pointer;
    display: none;
}
#uploadData {
	cursor:pointer;
	border: 0px;
	font-weight: 200;
	background: white;
	margin-top: 13px;
    margin-left: 686px;
    vertical-align: top;
}
#uploadData2 {
	cursor:pointer;
	border: 0px;
	font-weight: 200;
	background: white;
	margin-top: 13px;
    margin-left: 748px;
    vertical-align: top;
}
#uploadImg {
	max-width: 500px;
}
#boardAdditional {
border: 1px solid rgba(0,0,0,.06);
    border-radius: 6px;
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.06);
    background-color: #fff;
    width: 84px;
    text-align: center;
    margin-left: 783px;
    position: absolute;
    margin-top: -25px;
    padding: 10px 0px;
    display: none;
}
div#page {
    text-align: left;
    margin-top: 40px;
}

.tbdyTitle {
 
    
}
.pageText {
	cursor: pointer;
	padding: 7px;
    font-size: 17px;
}
#inquiryBtn {
	border: 1px solid black;
    width: 105px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0px 836px;
    padding: 10px 10px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
