@charset "UTF-8";


div#wrap {

	margin: 200px auto;
	padding: 30px;
}
#main{
	width: 1300px;
}
#wrap>header>h1{
	margin: 30px auto;
}
/* #wrap.listWrap>header#header { */
/* 	padding: 0 50px; */
/* 	justify-content: space-between; */
/* } */
/* #wrap.listWrap>header#header>* { border: 1px solid #000; }#wrap.listWrap>header#header>div#listBtnArea  */
#wrap.listWrap>header#header>h2 {
	width: 200px;
	text-align: center;
}
#wrap.listWrap>header#header>div#listBtnArea {
	height: 36px;
}
#wrap.listWrap>header#header>div#listBtnArea>button {
	width: 100px;
}

/* #wrap.listWrap main#main { border: 1px solid #000; } */
#main div#listHeader { padding: 10px; background-color: rgba(0, 128, 255, 0.2);  }
#main div#listHeader>span { 
	font-size: 18px; font-weight: bold;
}
#main div.listCol>span:nth-child(1) { width: 50px; text-align: center;}
#main div.listCol>span:nth-child(2) { width: 80px; text-align: center;}
#main div.listCol>span:nth-child(3) { width: 60px; text-align: center;}
#main div.listCol>span:nth-child(4) { width: 200px; text-align: center;}
#main div.listCol>span:nth-child(5) { width: 200px; text-align: center;}
#main div.listCol>span:nth-child(6) { width: 100px;text-align: center;}
#main div.listCol>span:nth-child(7) { width: 250px;text-align: center;}
#main div#listHeader>span{ text-align: center; }

#main div.listRow { padding: 14px 10px; border-bottom: 1px solid #666;} */
/* #main div.listRow>span:nth-child(1) { text-align: center; } */
/* #main div.listRow>span:nth-child(2) { text-align: center; } */
/* #main div.listRow>span:nth-child(3) { text-align: center; } */
/* #main div.listRow>span:nth-child(4) { text-align: left; padding-left: 20px; } */
/* #main div.listRow>span:nth-child(5) { text-align: center; } */
/* #main div.listRow>span:nth-child(6) { text-align: center; flex: 1; } */

#main div.listRow:hover { background-color: rgba(128, 128, 128, 0.1);
						  cursor: pointer; }





div#wrap.viewWrap div#viewBtnArea button { 	
	width: 90px;
    font-size: 20px;
    font-weight: bold;
    padding: 4px;
    margin-right: 10px;
    cursor: pointer;
	
}
select.authoritySelect{
	padding: 5px;
	text-align: center;
}

button.authChangeBtn{
	margin: 5px 0;
	margin-right: 1px;
	width: 78px;
	padding: 5px;
}

.listCol button {
	margin: 5px 0;
    margin-right: 1px;
    width: 78px;
    padding: 5px;
}


